@font-face {
  font-family: "LeagueGothic";
  src: url("./fonts/LeagueGothic-Regular.ttf");
  src: url("./fonts/LeagueGothic-Regular.ttf") format("ttf"),
  }

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "LeagueGothic";
  letter-spacing: .1rem;
}

.dark-mode{
  background-color: black;
  color: white;
}
.light-mode{
  background-color: white;
  color: black;
}

.home {
  height: 100vh;
  width: 100vw;
  background-image: url(./images/home-page-pic.avif);
  background-size: cover;
}

.home-light{
  height: 100vh;
  width: 100vw;
  background-image: url(./images/home-page-pic-light.jpg);
  background-size: cover;
}

body {
  /* background-color: black; */
  margin: 0;
}

.homeTitle {
  font-size: 14rem;
  position: absolute;
  bottom: 0;
  /* color: white; */
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.homeTitle > div {
  position: relative;
  margin: 0;
}

.navBar {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0.5rem;
  z-index: 1;
}

.navBarButtons {
  /* color: white; */
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.8rem;
  margin-left: 1rem;
  cursor: pointer;
}
.cart {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  /* color: white; */
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.8rem;
  cursor: pointer;
}

.cart-button{
  margin-left: 12rem;
}

#recordIcon {
  display: flex;
  height: 4rem;
  width: 4rem;
}

#content {
  position: absolute;
}

.learn-page {
  width: 100vw;
}

.shop-page {
  width: 100vw;
}

.learn-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 12rem;
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
  /* color: white; */
}

.shop-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 12rem;
  width: 100vw;
  padding-top: 5rem;
  /* color: white; */
}

.shop-buttons {
  font-size: 2rem;
  line-height: 1rem;
  margin-top: 6rem;
  text-align: center;
  color: #ed462f;
}

.learn-buttons {
  font-size: 2rem;
  line-height: 1rem;
  margin-top: 6rem;
  text-align: center;
  color: #ed462f;
}

#shop-button-all {
  transition: all .2s ease-in-out; 
  cursor: pointer;
}
#shop-button-all:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#shop-button-collections {
  transition: all .2s ease-in-out; 
  cursor: pointer;
}
#shop-button-collections:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#shop-button-best-sellers {
  transition: all .2s ease-in-out; 
  cursor: pointer;
}
#shop-button-best-sellers:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-template-rows: repeat(2, 0fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

#grid > div {
  transition: all .2s ease-in-out; 
  box-shadow:  2px 2px 4px rgba(0,0,0,0.3);
}

#grid > div:hover {
  transform: scale(1.1);
  box-shadow:  2px 2px 4px rgba(0,0,0,0.5);
}

.grid1 {
  grid-area: 1 / 1 / 2 / 2;
}
.grid1:hover {
  grid-area: 1 / 1 / 2 / 2;
}
.grid2 {
  grid-area: 1 / 2 / 2 / 3;
}
.grid3 {
  grid-area: 1 / 3 / 2 / 4;
}
.grid4 {
  grid-area: 2 / 1 / 3 / 2;
}
.grid5 {
  grid-area: 2 / 2 / 3 / 3;
}
.grid6 {
  grid-area: 2 / 3 / 3 / 4;
}

.products {
  display: flex;
  justify-content: center;
}
#learn-section{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.left-side{
  width: 100%;
  padding: 3rem;
  color: #ed462f;
  font-size: 3rem;
}
.right-side{
  font-size: 1.5rem;
  line-height: 2rem;
  width: 100%;
  padding: 3rem;
}

.form{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.line{
  border-bottom: 2px solid white;
  margin-bottom: 1rem;
}

.input{
  height: 100%;
  border: none;
  font-size: 1.5rem;
  background: transparent;
}

.image{
  filter: brightness(100%) saturate(0%) invert(0%) sepia(96%) hue-rotate(70deg) contrast(104%);
}

.image-dark{
  filter: brightness(0%) saturate(100%) invert(0%) sepia(96%) hue-rotate(70deg) contrast(104%);
}

.split-parent {
  overflow: hidden;
}
.split-child {
  display: inline-block;
}